div{
    background-color: rgb(156, 98, 98);
    padding: 20px;
    border: 2px solid pink;
    border-radius: 10px;
    border-style: dotted;
    margin: 20px;
  
}
img{
    border-radius: 20px;
    border-style: dotted;
}
